<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>JOBS</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/main.css">
      <link rel="stylesheet" href="static/font-awesome.min.css">
      <link href="css/bootstrap.css" rel="stylesheet" type="text/css" >
    
    <link href="static/font-awesome.min.css" rel="stylesheet">
  </head>
<body>
  <section class="navbar navbar-default navbar-expand-lg sticky" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <a href="/home" class="navbar-brand">Eagle Eye Job</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home" class="smoothScroll">HOME</a></li>
        <li><a href="/campgrounds">JOBS</a></li>
<!--        <li class="dropdown">
                  <a href="##" class="dropdown-toggle effect-3" data-toggle="dropdown">JOBS <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/campgrounds">Available Jobs</a></li>
                    <li class="divider"></li>
                    <li><a href="/campgrounds/new">Add New Jobs</a></li>
                    
                  </ul>
                </li> -->
        <li><a href="/home#menu" class="smoothScroll">ABOUT US</a></li>
        <li><a href="/home#team" class="smoothScroll">TEAM</a></li>
        <li><a href="/home#contact" class="smoothScroll">CONTACT</a></li>
         <ul class="nav navbar-nav navbar-right">
        <% if(!currentUser){ %>
                    <li><a href="/login">LOGIN</a></li>
          <li><a href="/register">SIGN UP</a></li>
                <% } else { %>
                    <li><a href="/users/<%=currentUser._id%>">HELLO <%= currentUser.username %></a></li>
                    <li><a href="/logout">LOGOUT</a></li>
                <% } %>

      </ul>
    </div>
  </div>
</section>

  
  <!-- <nav class="navbar navbar-default">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href="/">Seminar View</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/campgrounds">Events</a></li>
              <li><a href="/home">Home</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                    <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
                    <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
                <% } else { %>
                    <li><a href="#">Hi ! <%= currentUser.username %></a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } %>
                       
                
            </ul>
          </div>
      </div>
  </nav> -->
  
  <div class="container">
     <% if(error && error.length > 0) { %>
       <div class="alert alert-danger"><p><%=error %></p></div>
     <% } %>
     
     <% if(success && success.length > 0) { %>
       <div class="alert alert-success"><p><%= success %></p></div>
     <% } %>
  </div>
 <!--  <div class="container"> -->


